<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <title>{$shop_name}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <!--[if lt IE 9]>
      <script src="bootstrap/js/html5shiv.min.js"></script>
      <script src="bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script src="bootstrap/js/jquery.min.js"></script>
    <script src="bootstrap/js/jquery-migrate.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="shop_head">
        <a href="index.php">
          <img src="https://wowlavie-aws.hmgcdn.com/file/article_all/%E3%80%8A%E6%83%B3%E8%A6%8B%E4%BD%A0%E3%80%8B%E5%8F%B0%E5%8D%9732%E5%94%B1%E7%89%87%E8%A1%8C%E3%80%81%E7%99%BE%E5%B9%B4%E5%86%B0%E5%BA%97%E3%80%81%E8%AB%87%E5%BF%83%E5%85%AC%E5%9C%92%E7%AD%89%E5%A0%B4%E6%99%AF%E6%9C%9D%E8%81%96%E6%95%A3%E7%AD%962.jpg" alt="{$shop_name}" class="img-responsive col-md-12 col-sm-12">
        </a>
      </div>
        <div class="col-md-3 col-sm-4">
          {include file='index_side.html'}
        </div>
      <div id="shop_main" class="row">
        <div class="col-md-8 col-sm-9">
          {if isset($msg)}
            <div class="alert alert-danger">{$msg}</div>
          {/if}
          {if $op=="goods_form"}
            {include file="goods_form.html"}
          {elseif $op=="goods_display"}
            {include file='goods_display.html'}
          {elseif $op=="user_form"}
            {include file='user_form.html'}
          {elseif $op=="display_user"}
            {include file='display_user.html'}
          {elseif $op=="check_out"}
            {include file='bill_check_out.html'}
          {elseif $op=="display_bill"}
            {include file='display_bill.html'}
          {elseif $op=="list_bill"}
            {include file='list_bill.html'}
          {else}
            {include file='goods_list.html'}
          {/if}
        </div>

      </div>

      <div id="shop_foot" >
        <div>地址：高雄市鼓山區博愛路11巷6號</div>
        <div>電話：(07)3660884</div>
        <div>版權所有 32coffee © 2016 tad0616.net. All Rights Reserved. </div>
      </div>
    </div>
  </body>
</html>